<div class="row">
    <div class="col-md-3">
        <!--Sidebar content-->
        <div class="form-group">
            <label>Search</label>
            <input ng-model="query" class="form-control search">
        </div>
        <div class="form-group">
            <label>Sort by</label>
            <select ng-model="orderProp" class="form-control">
                <option value="name">Alphabetical</option>
                <option value="">Newest</option>
            </select>
        </div>
    </div>
    <div class="col-md-9">
    <!--Body content-->

    <ul class="recipes">
        <li ng-repeat="recipe in recipes | filter:query | orderBy:orderProp"
            class="phone-listing">
          <a href="#/recipes/{{recipe.id}}">{{recipe.title}}</a>
        </li>
    </ul>

   </div>
</div>
